<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forja">

    <!-- Forja Runtime para Android
         El .so se carga dinámicamente vía System.loadLibrary().
         No requiere permisos especiales. -->
    <uses-sdk android:minSdkVersion="26" />

</manifest>
